@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@font-face {
  font-family: "aretha-bridge";
  src: url(aretha-bridge.ttf) format("truetype");
}
@font-face {
  font-family: "high-society";
  src: url(high-society.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  background: transparent;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 1.6rem;
  position: relative;
  padding-bottom: 10rem;
}
body #content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #content header {
  height: 15rem;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
body #content header h1 {
  font-family: "aretha-bridge";
  font-weight: 700;
  font-size: 4rem;
  color: whitesmoke;
}
body #content header section {
  display: flex;
  gap: 1rem;
}
body #content header .buttons {
  font-family: "PT Sans Narrow, sans-serif";
  font-size: 2.6rem;
  padding: 1.3rem 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 4.5rem;
  box-shadow: 0px 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
body #content header .buttons:hover {
  background-color: #23c483;
  box-shadow: 0px 1.5rem 2rem rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-0.7rem);
}
body #content header .buttons:active {
  transform: translateY(-0.1rem);
}
body main {
  height: 100%;
  width: 100%;
  padding: 2rem;
}
body main #section-one {
  height: 125rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
body main #section-one h1 {
  font-family: "high-society";
  font-size: 2.9rem;
  padding: 1rem;
  color: rgb(25, 30, 104);
}
body main #section-one img {
  height: 35rem;
  width: 35rem;
  border-radius: 2.5rem 0 0 2.5rem;
}
body main #section-one p {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2.6rem;
  padding: 1rem;
  color: black;
}
body main #section-one #primary-div-of-section-one {
  height: 35rem;
  width: 120rem;
  display: flex;
  gap: 1.5rem;
  background-color: rgba(70, 109, 109, 0.623);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2.5rem;
}
body main #section-one #secundary-div-of-section-one {
  height: 35rem;
  width: 120rem;
  display: flex;
  gap: 1.5rem;
  background-color: rgba(70, 109, 109, 0.623);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2.5rem;
}
body main #section-one #tertiary-div-of-section-one {
  height: 35rem;
  width: 120rem;
  display: flex;
  gap: 1.5rem;
  background-color: rgba(70, 109, 109, 0.623);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2.5rem;
}
body main #section-two {
  height: 50rem;
  width: 100%;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
body main #section-two h1 {
  font-family: "high-society";
  font-size: 2.9rem;
  padding: 1rem;
  color: whitesmoke;
}
body main #section-two img {
  height: 5rem;
  width: 5rem;
}
body main #section-two #primary-div-of-section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body main #section-two #secundary-div-of-section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;
}
body footer {
  height: 10rem;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body footer a {
  height: 5rem;
  width: 5rem;
  transition: 0.8s;
}
body footer a:hover {
  fill: #9361FF;
  transform: rotate(360deg);
  transition: 0.8s;
}

form {
  height: 65rem;
  width: 55rem;
  background-color: #222;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 3rem;
}
form #div-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
form .n1, form .n2 {
  background-color: whitesmoke;
  color: rgb(3, 1, 17);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2rem;
  border-radius: 1rem;
  width: 22rem;
  height: 5rem;
  padding: 1rem;
}
form .n3 {
  background-color: whitesmoke;
  color: rgb(3, 1, 17);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2rem;
  border-radius: 1rem;
  width: 47rem;
  height: 5rem;
  padding: 1rem;
}
form input[type=number]::-webkit-inner-spin-button,
form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form input[type=number] {
  -moz-appearance: textfield;
}
form .n4 {
  background-color: whitesmoke;
  color: rgb(3, 1, 17);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2rem;
  border-radius: 1rem;
  width: 47rem;
  height: 30rem;
  padding: 1rem;
}
form .n4::placeholder {
  position: absolute;
  top: 0;
  left: 0;
}
form ::placeholder {
  padding: 1rem;
}
form #button-submit {
  background-color: whitesmoke;
  color: rgb(3, 1, 17);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2rem;
  border-radius: 1rem;
  height: 6rem;
  width: 20rem;
}

/*# sourceMappingURL=style.css.map */
